<div class="row">
  <div class="col-md-5">
    <app-recipe-list (recipeWasSelected)="selectedRecipe = $event"></app-recipe-list>
  </div>
  <div class="col-md-7">
    <app-recipe-detail
    *ngIf="selectedRecipe; else infotext"
    [recipe]="selectedRecipe"
    ></app-recipe-detail>
    <ng-template #infotext>
      <p>Please select a recipe</p>
    </ng-template>
  </div>
</div>
