<a
  href="#"
  class="list-group-item clearfix"
  (click)="onSelected()"
  >
  <div class="pull-left">
    <h4 class="list-group-item-heading">{{ itemData.name }}</h4>
    <p class="list-group-item-text">{{ itemData.description }}</p>
  </div>
  <span class="pull-right">
        <img
          [src]="itemData.imagePath"
          alt="{{ itemData.name }}"
          class="img-responsive"
          style="max-height: 50px;">
      </span>
</a>
